body {
    font-family: Arial, sans-serif;
    background-color: #464650;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #00009C;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid #00b894;
    text-align: center;
}

.login-container h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.login-container .logo {
    width: 100px;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    text-align: left;
}

.login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #F20DE7;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #00FF62;
}

.error-message {
    color: red;
    margin-top: 10px;
}
