body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #464650, #464650);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #00009C;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.logo, .home-icon {
    height: 50px;
    cursor: pointer;
    margin-right: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin-top: 80px;
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #F20DE7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #00FF62;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .header h1 {
        font-size: 1.5em;
    }

    .logo, .home-icon {
        height: 40px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .header h1 {
        font-size: 1.2em;
    }

    .logo, .home-icon {
        height: 30px;
    }

    button {
        padding: 8px;
        font-size: 0.9em;
    }
}
